$primary: blue;
$danger: red;
$success: green;
$info: rgb(0, 132, 255);
$warning: rgb(255, 225, 0);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
}
